[submodule "kickstart.nvim"]
	path = kickstart.nvim
	url = git@github.com:massan-E/kickstart.nvim.git
[submodule "nvim/kickstart.nvim"]
	path = nvim/kickstart.nvim
	url = git@github.com:massan-E/kickstart.nvim.git
